#volumeRendering\.progressContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

#volumeRendering\.progress {
    width: 100%;
    margin: auto;
    height: 0.5vmin;
    background-color: rgba(255, 255, 255, 0.2);
}

#volumeRendering\.progressBar {
    width: 0;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
    box-shadow: 0 0 3vmin rgba(255, 255, 255, 0.5), 0 0 1vmin rgba(255, 255, 255, 0.5);
}

#volumeRenderingTab-accordion .dropdown .dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.parcoordsContainer {
    position: relative;
}

.parcoordsContainer .parcoordsUndockButton {
    z-index: 10;
    position: absolute;
    width: 50px;
    top: 0px;
    right: 0px;
}

.parcoordsContainer .parcoords {
    background-color: #181818;
}

.parcoordsContainer .parcoords g.axis text {
    fill: var(--cs-color-text);
}

.parcoordsScroller {
    overflow: auto;
    position: relative;
}

.parcoordsControls div.row input,
.parcoordsControls div.row button,
.parcoordsControls div.row .bootstrap-select {
    width: 100% !important;
    height: 100% !important;
}

.parcoordsControls {
    max-width: 400px;
}

.parcoords .histogram {
    fill: #ddf5;
    stroke: black;
}
